@charset "UTF-8";
@font-face {
  font-family: 'gagalin';
  src: url("../../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

ul li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: normal; }

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.42; }

section {
  height: 100vh;
  min-height: 650px;
  min-width: 940px; }

.wrapper {
  overflow: hidden; }

.welcome {
  background-size: cover; }

.container {
  width: 58.75rem;
  margin: 0 auto; }

.header {
  height: 5.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  max-width: 6.25rem;
  max-height: 4.375rem;
  margin-right: auto; }
  .logo .logo__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%; }

.navigation__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .navigation__list .navigation__item {
    margin-right: 0.75rem; }
    .navigation__list .navigation__item:not(:last-of-type):after {
      content: '•';
      color: #fff;
      margin-left: 0.875rem; }
    .navigation__list .navigation__item .navigation__link {
      font-family: 'ubuntu';
      font-size: 0.875rem;
      font-weight: 500;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none; }

.btn-order {
  display: block;
  min-width: 6.25rem;
  min-height: 2.1875rem;
  background-color: #e45028;
  font-family: 'ubuntu';
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 2.1875rem;
  border-radius: 0.1875rem; }

.intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .intro .intro__text-area {
    max-width: 25.625rem;
    margin-bottom: 2.5rem; }
    .intro .intro__text-area .intro__title-who {
      text-transform: uppercase;
      color: #f9b43b;
      font-family: 'gagalin';
      font-size: 64px;
      font-size: 4rem; }
    .intro .intro__text-area .intro__title-what {
      color: #fff;
      font-family: 'lifehack';
      font-size: 52px;
      font-size: 3.25rem; }

.forward {
  width: 29px;
  height: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 5.625rem auto auto;
  display: flex; }

.about {
  background-size: cover; }

.title {
  color: #2f3234;
  font-family: 'gagalin';
  font-size: 72px;
  font-size: 4.5rem;
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 5.625rem; }

.advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -0.875rem; }
  .advantages .advantages__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    color: #2f3234;
    margin-right: 20px; }
    .advantages .advantages__item .advantages__img {
      overflow: hidden;
      width: 100px;
      height: 100px;
      margin: 0 auto 24px;
      background: center center no-repeat; }
    .advantages .advantages__item .advantages__title {
      font-family: 'lifehack';
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .advantages .advantages__item .advantages__text {
      font-family: 'ubuntu';
      font-weight: 100;
      font-size: 0.875rem; }

.feed__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .feed__list .feed__item {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    background-position: 50% 50%;
    background-size: cover; }
    .feed__list .feed__item .feed__img {
      visibility: hidden; }
    .feed__list .feed__item .feed__link {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      text-decoration: none; }
      .feed__list .feed__item .feed__link:hover {
        background: rgba(0, 0, 0, 0.5);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .feed__list .feed__item .feed__linkhover .feed__about {
        opacity: 1;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
    .feed__list .feed__item .feed__link:hover .feed__about {
      opacity: 1;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .feed__list .feed__item .feed__about {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      height: 100%;
      opacity: 0;
      font-family: 'ubuntu';
      font-size: 0.875rem; }
      .feed__list .feed__item .feed__about .feed__title {
        font-family: "gagalin";
        margin-bottom: 30px; }
      .feed__list .feed__item .feed__about .btn-more {
        width: 6.875rem;
        height: 2.1875rem;
        background: #2f3234;
        color: #fff;
        text-transform: uppercase; }

link:hover {
  opacity: 0.25; }

/*# sourceMappingURL=main.css.map */