.about {
  display: flex;
  align-items: center;
  background-size: cover;
}

.title {
  color: $black;
  font-family: 'gagalin';
  font-size: calculate-rem(72px);
  text-align: center;
  margin-bottom: calculate-rem(90px);
}

.advantages {
  display: flex;
  margin-left: calculate-rem(-14px);

  .advantages__item {
    flex: 1;
    text-align: center;
    color: $black;
    margin-right: calculate-rem(20px);

    .advantages__img {
      overflow: hidden;
      width: calculate-rem(100px);
      height: calculate-rem(100px);
      margin: 0 auto calculate-rem(24px);
      background: center center no-repeat;
    }

    .advantages__title {
      font-family: 'lifehack';
      font-size: calculate-rem(24px);
      margin-bottom: calculate-rem(16px);
    }

    .advantages__text {
      font-family: 'ubuntu';
      font-weight: 100;
      font-size: calculate-rem(14px);
    }
  }
}
