.about {
  display: flex;
  align-items: center;
  background-size: cover;
  @include phones {
    background-position: center;
  }
}

.title {
  color: $black;
  font-family: 'gagalin';
  font-size: calculate-rem(72px);
  text-align: center;
  margin-bottom: calculate-rem(90px);
  @include phones {
    margin-bottom: calculate-rem(40px);
  }
}

.advantages {
  display: flex;
  margin-left: calculate-rem(-14px);
  @include tablets {
    margin: 0 calculate-rem(20px);
  }
  @include phones {
    flex-direction: column;
    margin: 0;
  }

  &__item {
    flex: 1;
    text-align: center;
    color: $black;
    @include phones {
      display: flex;
      justify-content: space-between;
    }

    &:not(:last-of-type) {
      margin-right: calculate-rem(20px);
      @include phones {
        margin: 0 0 calculate-rem(20px);
      }
    }
  }

  &__img {
    // width: calculate-rem(100px);
    // height: calculate-rem(100px);
    margin: 0 auto calculate-rem(24px);
    background: center center no-repeat;
    @include phones {
      margin: 0;
      display: inline-flex;
      height: 100%;
    }
  }

  &__text-area {
    @include phones {
      width: 65%;
      text-align: left;
    }
  }

  &__title {
    font-family: 'lifehack';
    font-size: calculate-rem(24px);
    margin-bottom: calculate-rem(16px);
  }

  &__text {
    font-family: 'ubuntu';
    font-weight: 100;
    font-size: calculate-rem(14px);
  }
}
