.feed {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  &__item {
    width: 25%;
    height: 50%;
    background-position: 50% 50%;
    background-size: cover;
    filter: grayscale(1);
    @include tablets {
      width: 50%;
      height: 25%;
    }

    &:hover .feed__about {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    display: block;

    &:hover {
      background-color: rgba(20, 20, 20, .5);
      transition: background-color 0.5s;
    }
  }

  &__img {
    visibility: hidden;
    display: block;
    position: absolute;
    left: calculate-rem(-9999px);
  }

  &__link:hover .feed__about {
    opacity: 1;
    transition: 0.3s;
  }

  &__about {
    height: 100%;
    opacity: 0;
    font-family: 'ubuntu';
    color: $white;
    font-size: calculate-rem(14px);
    padding: calculate-rem(20px);
    @include tablets {
      text-align: center;
    }
  }

  &__title {
    font-family: "gagalin";
    margin-bottom: calculate-rem(30px);
    @include tablets {
      margin-bottom: calculate-rem(10px);
    }
  }

  &__text {
    margin-bottom: calculate-rem(16px);
    @include phones {
      display: none;
    }
  }
}

.btn-more {
  @include btn(calculate-rem(10px), calculate-rem(15px), $black, $white);
}
