.menu {
  background-size: cover;
  display: flex;
  position: relative;
}

.title_menu {
  font-family: "gagalin";
  font-size: 72px;
  color: $white;
}

.accordeon_menu {
  position: absolute;
  // right: 0;
  // bottom: 0;
  // width: 50%;
  // transform: rotate(-90deg);
}

.accordeon__title_menu {
  font-family: 'gagalin';
  font-size: 56px;
  color: $white;
}
