.welcome {
  background-size: cover;
}

.container_welcome {
  @include tablets {
    width: 100%;
  }
}

.header {
  // height: calculate-rem(90px);
  // height: 90px;
  padding: calculate-rem(20px) 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: calculate-rem(100px);
  max-height: calculate-rem(70px);
  margin-right: auto;

  &__link {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.navigation {
  &__list {
    display: flex;
    justify-content: center;
    @include tablets {
      display: none;
    }
  }

  &__item {
    margin-right: calculate-rem(12px);

    &:not(:last-of-type):after {
      content: '•';
      color: $white;
      margin-left: calculate-rem(14px);
    }
  }

  &__link {
    font-family: 'ubuntu';
    font-size: calculate-rem(14px);
    font-weight: 500;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
  }
}

.btn-order {
  @include btn(calculate-rem(10px), calculate-rem(15px), $orange, $white);
}

.burger-menu {
  display: none;
  @include tablets {
    display: block;
  }
  width: calculate-rem(24px);
  height: calculate-rem(4px);
  background-color: $white;
  border-radius: calculate-rem(2px);
  margin-left: calculate-rem(30px);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: calculate-rem(9px);
    display: block;
    width: calculate-rem(24px);
    height: calculate-rem(4px);
    background-color: $white;
    border-radius: calculate-rem(2px);
  }

  &::before {
    content: '';
    position: absolute;
    bottom: calculate-rem(9px);
    display: block;
    width: calculate-rem(24px);
    height: calculate-rem(4px);
    background-color: $white;
    border-radius: calculate-rem(2px);
  }
}

.intro {
  display: flex;
  margin: auto;
  align-items: center;
  @include tablets {
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
    @include tablets {
      max-width: 100%;
      max-height: 100%;
    }
    @include phones {
      max-width: 80%;
      max-height: 80%;
    }
  }

  &__text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calculate-rem(410px);
    margin-top: calculate-rem(90px);
    @include tablets {
      text-align: center;
    }
    @include phones {
      margin: 0;
    }
  }

  &__title-who {
    text-transform: uppercase;
    color: $yellow;
    font-family: 'gagalin';
    font-size: calculate-rem(72px);
  }

  &__title-what {
    color: $white;
    font-family: 'lifehack';
    font-size: calculate-rem(64px);
    line-height: 1;
  }
}

.forward {
  width: calculate-rem(29px);
  height: calculate-rem(14px);
  margin: 0 auto calculate-rem(90px);
  @include tablets {
    margin-bottom: calculate-rem(40px);
  }
}
