.welcome {
  background-size: cover;
}

.container_welcome {
  @include tablets {
    width: 100%;
  }
}

.header {
  padding: calculate-rem(20px) 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is-clicked {
  overflow: hidden;

  .container_welcome {
    background: rgba($gray, .8);
    transition: background 0.3s;
    margin: 0;
  }

  .forward,
  .intro {
    display: none;
  }

  .logo {
    margin: 0;
  }

  .navigation_main {
    display: none;
  }

  .navigation_burger {
    display: block;
  }

  .will-appear {
    opacity: 1;
    transition: opacity 0.5s;
  }

  .navigation {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__list_burger {
      display: flex;
      flex-direction: column;
    }

    &__link {
      font-size: 1.125rem;
    }

    &__item::after {
      display: block;
    }

    &__item {
      margin-right: 0;
      text-align: center;

      &:after {
        display: block;
      }
    }

    .navigation__item:not(:last-of-type):after {
      margin-left: 0;
    }
  }

  .burger-menu {
    display: inline-flex;
    height: 0;

    &::after {
      transform: rotate(45deg);
      top: calculate-rem(-0.5px);
    }

    &::before {
      top: calculate-rem(-0.5px);
      transform: rotate(-45deg);
    }
  }

  .btn-order {
    display: none;
  }
}

.logo {
  max-width: calculate-rem(100px);
  max-height: calculate-rem(70px);
  margin-right: auto;

  &__link {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.navigation {
  &__list {
    display: flex;
    justify-content: center;
    @include tablets {
      display: none;
    }
  }

  &__item {
    margin-right: calculate-rem(12px);

    &:not(:last-of-type):after {
      content: '•';
      color: $white;
      margin-left: calculate-rem(14px);
    }
  }

  &__link {
    font-family: 'ubuntu';
    font-size: calculate-rem(14px);
    font-weight: 500;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
  }
}

.btn-order {
  @include btn(calculate-rem(10px), calculate-rem(15px), $orange, $white);
}

.burger-link {
  width: calculate-rem(24px);
  height: calculate-rem(24px);
  position: relative;
  margin-left: calculate-rem(30px);
}

.burger-menu {
  position: absolute;
  top: calculate-rem(10px);
  display: none;
  @include tablets {
    display: block;
  }
  width: calculate-rem(24px);
  height: calculate-rem(4px);
  background-color: $white;
  border-radius: calculate-rem(2px);
  // margin-left: calculate-rem(30px);
  &::after {
    content: '';
    position: absolute;
    top: calculate-rem(9px);
    display: block;
    width: calculate-rem(24px);
    height: calculate-rem(4px);
    background-color: $white;
    border-radius: calculate-rem(2px);
  }

  &::before {
    content: '';
    position: absolute;
    bottom: calculate-rem(9px);
    display: block;
    width: calculate-rem(24px);
    height: calculate-rem(4px);
    background-color: $white;
    border-radius: calculate-rem(2px);
  }
}

.navigation_burger {
  display: none;
}

.intro {
  display: flex;
  flex: 1;
  margin-bottom: 8%;
  align-items: center;
  @include tablets {
    flex-direction: column;
    justify-content: center;
  }
  @include phones {
    margin-bottom: 0;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
    @include tablets {
      max-width: 100%;
      max-height: 100%;
    }
    @include phones {
      max-width: 80%;
      max-height: 80%;
    }
  }

  &__text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calculate-rem(410px);
    margin-top: calculate-rem(90px);
    @include tablets {
      text-align: center;
    }
    @include phones {
      margin: 0;
    }
  }

  &__title-who {
    text-transform: uppercase;
    color: $yellow;
    font-family: 'gagalin';
    font-size: calculate-rem(72px);
    @include phones-small {
      font-size: calculate-rem(56px);
    }
  }

  &__title-what {
    color: $white;
    font-family: 'lifehack';
    font-size: calculate-rem(64px);
    line-height: 1;
    @include phones-small {
      font-size: calculate-rem(3*16px);
    }
  }
}

.forward {
  width: calculate-rem(29px);
  height: calculate-rem(14px);
  margin: 0 auto calculate-rem(50px);
  @include tablets {
    margin-bottom: calculate-rem(40px);
  }

  &:hover .forward__img {
    animation: slideInDown 1s;
  }
}
