@mixin circle($width, $color) {
  width: $width;
  height: $width;
  border-radius: $width/2;
  background-color: $color;
}
@function calculate-rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
@mixin welcome-link {
  font-family: 'ubuntu';
  font-size: calculate-rem(14px);
  font-weight: 500;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
}
@mixin btn($p-top, $p-right, $background-color, $color) {
  display: inline-block;
  padding: $p-top $p-right;
  background-color: $background-color;
  font-family: 'ubuntu';
  font-size: calculate-rem(14px);
  font-weight: 500;
  text-transform: uppercase;
  color: $color;
  text-decoration: none;
  border-radius: calculate-rem(3px);
  outline: none;
}
@mixin tablets {
   @media screen and (max-width: $tablets){
    @content;
  }
}
@mixin phones {
   @media screen and (max-width: $phones){
    @content;
  }
}
@mixin phones-small {
   @media screen and (max-width: $phones-small){
    @content;
  }
}
