@mixin circle($width, $color) {
  width: $width;
  height: $width;
  border-radius: $width/2;
  background-color: $color;
}
@function calculate-rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
@mixin font-size($size) {
  font-size: $size; //Fallback in px
  font-size: calculate-rem($size);
}
@mixin welcome-link {
  font-family: 'ubuntu';
  font-size: calculate-rem(14px);
  font-weight: 500;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
}
@mixin btn($width, $height, $background-color, $color) {
  display: block;
  width: calculate-rem($width);
  height: calculate-rem($height);
  background-color: $background-color;
  font-family: 'ubuntu';
  font-size: calculate-rem(14px);
  font-weight: 500;
  text-transform: uppercase;
  color: $color;
  text-decoration: none;
  text-align: center;
  line-height: calculate-rem($width);
  border-radius: calculate-rem(3px);
}
